html {
  font-size: 10px; /* px means 'pixels': the base font size is now 10 pixels high  */
  font-family: Rubik, sans-serif;
}



h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
  color: #d3d3d3;
}

h3 {
  font-size: 15px;
  color: #424242;
  text-align: center;
  text-shadow: 3px 3px 1px black
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  color: #ffffff;
}

html {
  background-color: #303030;
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: #303030;
  padding: 0 20px 20px 20px;
  border: 1px solid #424242;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #ffffff;
}

h2 {
  margin: 0;
  padding: 20px 0;
  text-shadow: 3px 3px 1px black
}

img {
    max-width: 100%;
    height: auto;
}

img {
  display: block;
  margin: 0 auto;
}

 /* unvisited link */
a:link {
    color: blue;
}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: green;
}

/* selected link */
a:active {
    color: gray;
}
